@font-face {
 font-family: "Roboto";
 src:
    local("Roboto"),
    url('../../../../assets/RobotoSlab-VariableFont_wght.ttf') format("truetype");
}



h1 {
 font-family: 'Roboto';   
 align-self: center;   
 color: #001219;
}


#fetch-grid{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto auto auto;
 row-gap: 20px;
}

.forum-container {
 grid-row: 1 / 8;   
}


.sign-up-container {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 grid-column: 3 / 4;
 grid-row: 6 / 6;   
 width: 100%;
 font-size: 11px;
 font-size: 8px;
 margin-top: -100px;
 color: #000000 ;
}

.log-in-button {
 background-color: #0096c7;    
 width: 317px;
 border-radius: 10px;
 color: #ffffff;
 height: 30px;
 border: none;
 margin-top: 20px;
}

.username-input {
 margin-bottom: 10px;  
 background-color: #e9ecf1; 
 border: 1px solid gray;
 border-radius: 3px;
}

.password-input {
 background-color: #e9ecf1; 
 border: 1px solid gray;
 border-radius: 3px;   
}

.username-input, .password-input {
 width: 317px;   
 height: 30px;
}

.logo {
 margin: 10px auto;   
 display: flex;
 justify-content: center;
 align-items: center;
 height: 210px;
 border-bottom: 1px solid gray;
}

.register {
 font-family: 'Playpen';   
 font-size: 11px; 
 font-weight: bold;
 line-height: normal;
 text-decoration: none;
 color: #000000;
}

nav {
 position: fixed;  
 display: flex;
 left: 40%;
 right: 50%;
}


.links {
 margin-left: 50px;   
 display: flex;
 flex-direction: row;
 gap: 5px;   
}


.logo-left-top {
 height: 90px; 
}

.comments {
 display: flex; 
 margin-left: 25px;  
}

.home-logo {   
 height: 20px;  
 align-self: center; 
}

.home-text {
 text-decoration: none;   
 align-self: center; 
}

footer {
 position: fixed;
 height: 80px;
 bottom: 0;
 left: 0; 
 right: 0;   
 display: flex;
 justify-content: center;     
 font-size: 7px;
 background-color: #e9ecef;
}

pre {
 position: absolute;
 top: 100px;   
}

.post-container {
 padding: 100px;  
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 1fr);
 grid-gap: 20px;
}

.post {
 grid-column: 2 / 4 ;
}

.delete-container {
 grid-row: 1 / 2;
 justify-self: center;
 align-self: center;
 grid-column: 1 / 2;   
}

.logout-container {
 grid-row: 1 / 2;
 justify-self: center;
 align-self: center;
 grid-column: 2 / 2;    
}

.delete-text {
  display: flex; 
  align-items: center;
  justify-content: center; 
  font-size: 15px;  
}

.account {
  justify-content: center;
  align-self: center;
  display: flex;
  gap: 20px;
}

.post-stats {
  display: flex;
  flex-direction: row; 
}

.like-dislike-stat {
  display: flex;
  gap: 10px;
  align-items: center;
}

.like-dislike-button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}

.comments {
 display: flex;
 flex-direction: column;
}

.get-comment {
  margin-top: 20px;
}