

.log-in-container {
 display: grid;
 grid-template-columns: repeat(5, 1fr);   
 grid-template-rows: repeat(7, 1fr);
 height: 98vh;
 margin: 0;
}

body {
 margin: 0;
}

nav {
 grid-row: 2 / 2;
 padding: 0;
 margin: 0;
}

header {
 background-color: white; 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 width: 100vw;
}

.icon {
  position: relative;
  right: 100px;
  width: 200px;  
}

.login {
 display: flex; 
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: absolute; 
 top: 165px;
 left: 20px;
 right: 20px;
 height: 90px;
 margin: 0;
 padding: 0;
}

.login h1 {
  margin: 10px;
  display: block;
}

.log-in-button {
 position: relative; 
 top: 10px;
 background-color: #337ab7;
 border: 0px;
 height: 35px;
 width: 100%; 
 color: white;
}

.forum-container {
 height: 98vh; 
 width: 10px;
 align-items: center;
 justify-self: center;
}

nav {
 height: 40px;
 background-color: black;
}

.links a {
 color: white;
 text-decoration: none; 
}


.register-container {
 display: flex; 
 flex-direction: row;
 gap: 30px;
 grid-row: 4 / 6;
 grid-column: 0 / 5;  
}

.register-container {
 display: none; 
}

.login {
  display: flex;
  justify-content: center;
  align-items: c;
  grid-row: 3 / 4;
  grid-column: 1 /4;
  background-color: #edede9;
  border: 10px black;
  padding: 100px;
  margin: 20px auto;
  width: 100px;
 } 

 .login form {
  width: 9; 
  margin: 0px auto;  
 } 

 .no-account {
  top: 10px;
  display: flex; 
  justify-content: center;
  margin: 0px auto;
  width: 305px;
 }

.no-account {
 display: flex;
 position: absolute;
 left: 20px;
 right: 20px;
 top: 525px;
 justify-content: center;
 align-items: center;
 background-color: #edede9;
 flex-direction: column;
}

.no-account h1 {
  text-align: center;
  font-size: 20px;
}

.links {
 display: flex;
 gap: 100px;
 justify-content: center;
 text-decoration: none;
 flex-direction: row; 
}

footer {
 position: absolute;
 bottom: 0; 
 align-self: end;
 background-color: black; 
 margin-bottom: 0;
 grid-row: 9;
}

footer h1 {
 font-size: 10px; 
 color: white;
 text-align: center;
}

.log-in-text {
 font-size: 20px;
 text-align: center; 
}

.register-icon {
 position: relative;
 left: 30px;
 bottom: 4px;
}

.account {
 display: flex; 
 gap: 20px;
 position: absolute;
 left: 25px;
 top: 60px; 
}

@media only screen and (min-width: 575px) {
  .login {
   display: flex; 
   justify-content: center;
   align-items: center;
   margin: 20px auto;
   width: 100px;
  } 

  .login form {
   width: 9; 
   margin: 0px auto;  
  } 

  .no-account {
   display: flex; 
   justify-content: center;
   margin: 0px auto;
   width: 305px;
  }

}

@media only screen and (min-width: 876px) {
  footer {
   height: 150px;  
   margin-bottom: 0px;
   padding: 0px;
   justify-content: end;
   align-items: end;
  }

  .register-container {
    display: flex; 
  }
}